<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/2b52cbe477.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>BookPage</title>
    <link rel="stylesheet" type="text/css" href="../css/book.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <script type="text/javascript" src="../js/book.js"></script>
</head>
<body>
    <header class="header">

        <form class="form">
            <i class="fas fa-book"></i>
            <h1 class="search_title"> BookCrossing</h1>
            <input id="location"
                   class="location_input"
                   oninput="onInput(this)"
                   autocomplete="off"
                   onclick ="suggestRecent()"
                   placeholder="Search...">
            <button class="search"><i class="fas fa-search"></i></button>
            <ul class="suggested"></ul>
        </form>
    </header>
    <main class="container">
        <article class="book_container">
            <section class="cover">
                <img src="../img/book.png" alt="">
            </section>
            <section class="info">
                <h1 class="title" id="title"></h1>
                <h2 class="author" id="author"></h2>
                <h3 class="year">Год издания: <span class="number" id="year"></span></h3>
                <p class="description" id="description"></p>
            </section>
        </article>
        <article class="availability_container">
            <div class="card" >
                <table id="availability_table">
                    <caption>Наличие в офисах</caption>
<!--                    <tr>-->
<!--                        <td class="office">Офис 1, <span class="address">Адрес 1</span></td>-->
<!--                        <td class="number">2 шт.</td>-->
<!--                    </tr>-->
                </table>
            </div>
        </article>
    </main>
    <footer class="footer">
        <div class="wrapper">
            <div class="contacts">
                <div>
                    <img class="mail" src="../static/img/src_img_mail-icon.png" alt="mail">
                    <a class="footer_link" href="mailto:bookcrossing@epam.com">bookcrossing@epam.com</a>
                </div>
            </div>
            <div class="copyright">
                &copy 2020 «‎<a class="footer_link" href="/">EpamBookCrossing</a>»
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        setBookInfo();
        setOfficeInfo();
    </script>
</body>
</body>
</html>